.container.index{ "ng-controller" => "myAppController" }
  %h1 Hello Middleman
  %p some great text here

  %h2 Users
  %ul
    %li{"ng-repeat" => "user in users"}
      {{ user.Name }}
  = link_to "new record", "/user/new.html"

  %h2 Tasks
  %ul
    %li{"ng-repeat" => "task in tasks"}
      {{ task.Description }}
